@model InvoiceApplication.ViewModel.AddInvoiceModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Invoice</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("Invoice Payday", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.InvoicePayday, new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.InvoicePayday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Customer Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">
            <input type="button" id="addproduct" name="addproduct" value="Add Product" class="btn btn-default" />
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            @Html.Label("Products", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.Label("Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        <div id="new-Product">
            @*@foreach (var ProductQuantity in Model.ProductQuantitys)
                {
                        Html.RenderPartial("PartialViewProduct", ProductQuantity);
                }*@
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Taxes", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("InvoiceTaxId", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
        $('#addproduct').on('click', function () {
            $.ajax({
                async: false,
                url: '/Invoices/AddNewInvoiceProduct',
                success: function(partialView) {
                    $('#new-Product').append(partialView);
                }
            });
        });
</script>
}
