@model InvoiceApplication.Models.Data.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Creator")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceCreator.UserName)
        </dd>
        <dt>
            @Html.Label("Customer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.Label("Invoice number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>

        <dt>
            @Html.Label("Created")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceCreated)
        </dd>

        <dt>
            @Html.Label("Payday")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoicePayday)
        </dd>
    </dl>

    @Html.Partial("PartialProductView", Model);
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
